img_size: 384
class_num: 21
img_mean: [0.40789655, 0.44719303, 0.47026116]
img_std: [0.2886383, 0.27408165, 0.27809834]
root: "Object_detection_2d/CenterNet"


model:
  name: "CenterNet"
  num_layers: 152
  class_num: 21
  

datasets:
  name: "VOC"
  data_root: Dataset/VOC
  train:
    years: ["2007", "2012"]
    splits: ["trainval", "trainval"]
    download_data: [False, False]
  eval:
    years: ["2012"]
    splits: ["val"]
    download_data: [False]
  test:
    years: ["2012"]
    splits: ["val"]
    download_data: [False]

# Training
epochs: 150
warmup_epochs: 5
target_transform: "CenterNet"
max_objs: 50
scheduler:
  name: "CosineAnnealingWarmup"
  max_lr: 0.0002
  min_lr: 0.000001

optimizer:
  name: "AdamW"
  lr: 0.001

loss:
  name: "CenterDetectionLoss"
  wh_loss_weight: 0.1
  offset_loss_weight: 1.0

train_batch_size: 32
eval_batch_size: 32
test_batch_size: 4

# Evaluation
confidence_thres: 0.01
nms_thres: 0.45
topk: 100

# Test
score_thres: 0.7