img_size: &img_size 512
class_num: &class_num 21
img_mean: &img_mean [0.40789655, 0.44719303, 0.47026116]
img_std: &img_std [0.2886383, 0.27408165, 0.27809834]
root: "Object_detection_2d/CenterNet"

train_batch_size: 16
eval_batch_size: 8
test_batch_size: 4

transforms:
  train:
    - type: ConvertFromInts
    - type: PhotometricDistort
    - type: RandomSampleCrop
    - type: RandomMirror
    - type: ResizeImgBoxes
      size: *img_size
    - type: Normalize
      mean: *img_mean
      std: *img_std
    - type: ToTensor
  val:
    - type: ResizeImg
      size: *img_size
    - type: Normalize
      mean: *img_mean
      std: *img_std
    - type: ToTensor


target_transforms:
  - type: CenterNet
    img_size: *img_size
    class_num: *class_num
    max_objs: 100

model:
  name: "CenterNet"
  num_layers: 152
  class_num: *class_num
  head_channels: 64
  post_processor:
    post_process_score_thres: 0.3
    nms_thres: 0.45
    img_size: *img_size
    topk: 50
  

datasets:
  dataset_name: "VOC"
  data_path: Dataset/VOC
  train:
    keep_difficult: False
    years: ["2007", "2012"]
    splits: ["trainval", "trainval"]
    download_data: [False, False]
  val:
    keep_difficult: True
    years: ["2012"]
    splits: ["val"]
    download_data: [False]
  test:
    keep_difficult: True
    years: ["2012"]
    splits: ["val"]
    download_data: [False]

# Training
epochs: 150

scheduler:
  name: "CosineAnnealingWarmup"
  max_lr: 0.0002
  min_lr: 0.000001
  warmup_epochs: 5

optimizer:
  name: "AdamW"
  lr: 0.001

loss:
  name: "CenterDetectionLoss"
  wh_loss_weight: 0.1
  offset_loss_weight: 1.0

# Evaluation
confidence_thres: 0.01
nms_thres: 0.45
topk: 100

visualizer:
  name: "ImageDetectionVisualizer"
  mean: *img_mean
  std: *img_std
  score_thres: 0.7
  stride: 4
  img_size: *img_size