venv
*.png
*.eps
*.aux
*.log
*.p
*.txt
*.pkl
*.pt
*.cls
__pycache__
*.synctex.gz
*.npy
*.jpg
*.npz
*.mat
*.gz
MNIST
*.tiff
*.csv
*.asc
*.mxe
*.bat
*.info
*.jar
*.DS_store
*.html
*.lambdas
*.doc
*.sh
*.pth