venv
training_logs
cifar10
cityscapes
ModelNet40
landscape
shapenet
__pycache__
results
*.eps
*.aux
*.log
*.p
*.txt
*.pkl
*.pt
*.cls
*.synctex.gz
*.npy
*.npz
*.mat
*.gz
runs
*.tiff
*.csv
*.asc
*.mxe
*.bat
*.info
*.jar
*.DS_store
*.html
*.lambdas
*.doc
*.sh
*.pth
*.xml
*.meta
*.json
*.bin
*.pts
*.pt
*.history
*.zip
