class_num: &class_num 50
instances_num: &instances_num 16
ignore_index: &ignore_index 255
root: "Segmentation_3d/PointNet"

dataset_name: &dataset_name "ShapeNet"
data_path: Dataset/ShapeNetPart
train_batch_size: 16
val_batch_size: 8
test_batch_size: &test_batch_size 6
num_points: &num_points 2048

transforms:
  train:
    - type: NormalizePointClouds
    - type: RandomRotatePointClouds
      prob: 0.45
    - type: FPS
      num_points: *num_points
    - type: TransposePointClouds
    - type: ToTensor
  val:
    - type: NormalizePointClouds
    - type: FPS
      num_points: *num_points
    - type: TransposePointClouds
    - type: ToTensor
  test:
    - type: NormalizePointClouds
    - type: FPS
      num_points: *num_points
    - type: TransposePointClouds
    - type: ToTensor

model:
  name: &model_name "PointNetPlusPartseg"
  n_feats: 3
  seg_class_num: *class_num
  cls_class_num: *instances_num
  n_samples_list: [1024, 256, 64, 16]
  radius_list: [0.1, 0.2, 0.4, 0.8]
  n_points_per_group_list: [32, 32, 32, 32]
  sa_mlp_out_channels_list:
    - [32, 48, 64]
    - [64, 96, 128]
    - [128, 196, 256]
    - [256, 384, 512]
  fp_mlp_out_channels_list:
    - [1024, 512]
    - [512, 512]
    - [512, 256]
    - [256, 256, 128]
  weight_init: "xavier"

# Training
epochs: 100
scheduler:
  name: "Exponential"
  gamma: 0.9

optimizer:
  name: "Adam"
  weight_decay: 0.0001
  betas: [0.9, 0.999]
  lr: 0.01

loss:
  name: FocalLoss
  alpha: 0.25
  gamma: 2.0
  mat_diff_loss_scale: 0.001
  lovasz_weight: 1.5
  ignore_index: *ignore_index

metrics:
  name: "PartSegIOU"

visualizer:
  name: "PointCloudSegVisualizer"
  class_num: *class_num
  model_name: *model_name
  dataset_type: *dataset_name
  pclouds_num: *test_batch_size
  is_part_seg: true
  y_rotate: 50
  elev: 80
  azim: -90