class_num: &class_num 40
ignore_index: &ignore_index 255
root: "Segmentation_3d/PointNet"
task: &task "cls"
num_points: &num_points 2048

dataset_name: &dataset_name "ModelNet40"
data_path: Dataset/ModelNet40_npz
train_batch_size: 16
val_batch_size: 8
test_batch_size: &test_batch_size 6

transforms:
  train:
    - type: NormalizePointClouds
    - type: RandomRotatePointClouds
      prob: 0.45
    - type: FPS
      num_points: *num_points
      use_labels: False
    - type: TransposePointClouds
    - type: ToTensor
  val:
    - type: NormalizePointClouds
    - type: FPS
      num_points: *num_points
      use_labels: False
    - type: TransposePointClouds
    - type: ToTensor
  test:
    - type: NormalizePointClouds
    - type: FPS
      num_points: *num_points
      use_labels: False
    - type: TransposePointClouds
    - type: ToTensor

model:
  name: &model_name "PointNetPlusCls"
  n_feats: 0
  class_num: *class_num
  n_samples_list: [512, 128, 1]
  radius_list: [0.2, 0.4, -1]
  n_points_per_group_list: [32, 64, -1]
  sa_mlp_out_channels_list:
    - [64, 96, 128]
    - [128, 192, 256]
    - [256, 512, 1024]
  fc_out_channels: [512, 256]
  weight_init: "xavier"

# Training
epochs: 100
scheduler:
  name: "Exponential"
  gamma: 0.9

optimizer:
  name: "Adam"
  weight_decay: 0.0001
  betas: [0.9, 0.999]
  lr: 0.01

loss:
  name: FocalLoss
  alpha: 0.25
  gamma: 2.0
  mat_diff_loss_scale: 0.001
  ignore_index: *ignore_index

metrics:
  name: "ConfusionMatrix"
  class_num: *class_num
  task: *task
  ignore_index: *ignore_index

visualizer:
  name: "PointCloudClsVisualizer"
  class_num: *class_num
  model_name: *model_name
  dataset_type: *dataset_name
  pclouds_num: *test_batch_size
  y_rotate: 50
  elev: 80
  azim: -90