class_num: &class_num 4
ignore_index: &ignore_index 255
root: "Segmentation_3d/PointNet"
task: &task "semseg"
num_points: &num_points 1500

dataset_name: &dataset_name "Chair"
data_path: Dataset/Chair_dataset
train_batch_size: 16
val_batch_size: 8
test_batch_size: &test_batch_size 6

transforms:
  train:
    - type: NormalizePointClouds
    - type: RandomRotatePointClouds
      prob: 0.45
    - type: FPS
      num_points: *num_points
    - type: TransposePointClouds
    - type: ToTensor
  val:
    - type: NormalizePointClouds
    - type: FPS
      num_points: *num_points
    - type: TransposePointClouds
    - type: ToTensor
  test:
    - type: NormalizePointClouds
    - type: FPS
      num_points: *num_points
    - type: TransposePointClouds
    - type: ToTensor

model:
  name: &model_name "PointNetPlusSemseg"
  n_feats: 0
  class_num: *class_num
  n_samples_list: [1024, 256, 64, 16]
  radius_list: 
    - [0.1, 0.2, 0.4]
    - [0.2, 0.4, 0.8]
    - [0.4, 0.8, 1.6]
    - [0.8, 1.2, 1.6]
  n_points_per_group_list: 
    - [32, 64, 128]
    - [32, 64, 128]
    - [32, 64, 128]
    - [32, 64, 128]
  sa_mlp_out_channels_list: 
    - 
      - [32, 32, 64]
      - [32, 32, 64]
      - [32, 32, 64]
    - 
      - [64, 64, 128]
      - [64, 96, 128]
      - [64, 64, 128]
    - 
      - [128, 196, 256]
      - [128, 196, 256]
      - [128, 196, 256]
    - 
      - [256, 256, 512]
      - [256, 384, 512]
      - [256, 256, 512]
  fp_mlp_out_channels_list: 
    - [512, 512]
    - [512, 512]
    - [512, 256]
    - [256, 128]
  weight_init: "xavier"

# Training
epochs: 100
scheduler:
  name: "Exponential"
  gamma: 0.9

optimizer:
  name: "Adam"
  weight_decay: 0.0001
  eps: 1e-8
  betas: [0.9, 0.999]
  lr: 0.01

loss:
  name: FocalLoss
  alpha: 0.25
  gamma: 2.0
  mat_diff_loss_scale: 0.001
  lovasz_weight: 1.5
  ignore_index: *ignore_index

metrics:
  name: "ConfusionMatrix"
  class_num: *class_num
  task: *task
  ignore_index: *ignore_index

visualizer:
  name: "PointCloudSegVisualizer"
  class_num: *class_num
  model_name: *model_name
  dataset_type: *dataset_name
  pclouds_num: *test_batch_size
  y_rotate: 50
  elev: 80
  azim: -90