img_size: &img_size 300
class_num: &class_num 21
img_mean: &img_mean [123, 117, 104]
root: "Object_detection_2d/SSD"

train_batch_size: 32
eval_batch_size: 32
test_batch_size: 4

center_variance: &center_variance 0.1
size_variance: &size_variance 0.2

transforms:
  train:
    - type: ConvertFromInts
    - type: PhotometricDistort
    # - type: Expand
    #   mean: *img_mean
    - type: RandomSampleCrop
    - type: RandomMirror
    - type: ResizeImgBoxes
      size: *img_size
      resize_boxes: True
    - type: ToPercentCoords
    - type: SubtractMeans
      mean: *img_mean
    - type: ToTensor
  val:
    - type: ResizeImgBoxes
      size: *img_size
      resize_boxes: False
    - type: SubtractMeans
      mean: *img_mean
    - type: ToTensor

target_transforms:
  - type: Coord
    center_variance: *center_variance
    size_variance: *size_variance
    iou_thres: 0.5
    prior: &prior
      img_size: *img_size
      feature_map_sizes: [38, 19, 10, 5, 3, 1]
      min_sizes: [30, 60, 111, 162, 213, 264]
      max_sizes: [60, 111, 162, 213, 264, 315]
      strides: [8, 16, 32, 64, 100, 300]
      aspect_ratios: [[2], [2, 3], [2, 3], [2, 3], [2], [2]]
      clip: True

model:
  name: "SSD"
  prior: *prior
  backbone:
    img_size: *img_size
    pretrained: True
  head:
    class_num: *class_num
    input_channels: [512, 1024, 512, 256, 256, 256]
    boxes_per_feature_map: [4, 6, 6, 6, 4, 4]
  post_processor:
    img_size: *img_size
    confidence_thres: 0.01
    nms_thres: 0.45
    topk: 100
  center_variance: *center_variance
  size_variance: *size_variance

datasets:
  dataset_name: "VOC"
  data_path: Dataset/VOC
  train:
    keep_difficult: False
    years: ["2007", "2012"]
    splits: ["trainval", "trainval"]
    download_data: [False, False]
  val:
    keep_difficult: True
    years: ["2012"]
    splits: ["val"]
    download_data: [False]
  test:
    keep_difficult: True
    years: ["2012"]
    splits: ["val"]
    download_data: [False]

# Training
epochs: 200
scheduler:
  name: "WarmupMultiStep"
  milestones: [80000, 100000]
  gamma: 0.1
  warmup_factor: 0.333
  warmup_iters: 500
  last_epoch: -1

optimizer:
  name: "SGD"
  weight_decay: 0.0005
  momentum: 0.9
  lr: 0.001

loss:
  name: MultiBoxesIouLoss
  neg_pos_ratio: 3
  box_loss_weight: 1.0
  center_variance: *center_variance
  size_variance: *size_variance

metrics:
  name: "DetectionMap"
  iou_thres: 0.5

visualizer:
  name: "ImageDetectionVisualizer"
  mean: *img_mean
  score_thres: 0.7